/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.nav__logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__toogle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /*for safari*/
    transition: top 0.4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: widht 0.3s;
}

.nav__link:hover::after {
  width: 70%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}
/* Add blur to header */
.blur-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}
/* Active link */
.active-link::after {
  width: 70%;
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}

.home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
}

.home__container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home__data {
  text-align: left;
  margin-top: 7rem;
  z-index: 1;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.home__title {
  font-size: 53px;
  margin-bottom: 0.5rem;
}

.home_description {
  font-size: 220px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: var(--title-color);
  text-align: center;
}

.home__cards {
  grid-template-columns: 240px;
  justify-content: center;
  grid-template-columns: repeat(4, 260px);
  z-index: 1;
}

.home__card {
  position: relative;
  overflow: hidden;
}

.home__card-img {
  transition: transform 0.4s;
}

.home__card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.home__card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home__card:hover .home__card-img {
  transform: scale(1.2);
}
/*=============== BUTTON ===============*/
.button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.1rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  margin-top: 1.5rem;
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}

.button:hover i {
  transform: translateX(0.25rem);
}

/*=============== ABOUT ===============*/
.about__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
  grid-gap: 3rem; /* Space between grid items */
}

.about__data {
  text-align: left;
}

.about .section__title {
  text-align: left;
}
.about__description {
  margin-bottom: 2rem;
}

.about__image {
  position: relative;
  overflow: hidden;
}

.about__img {
  width: 100%; /* Image takes full width of container */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.4s ease-in-out; /* Smoother transition */
}

.about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.about__image:hover .about__img {
  transform: scale(1.1); /* Adjust scale factor as needed */
}

/*=============== POPULAR ===============*/
.popular__contain {
  padding-top: 1.5rem;
  grid-template-columns: 300px;
  justify-content: center;
  column-gap: 2.5rem;
  grid-template-columns: repeat(3, 340px);
}

.section__title {
  text-align: center;
}

.popular__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.popular__img {
  transition: transform 0.4s;
}
.popular__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.popular__location {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular__location i {
  font-size: 1rem;
}

.popular__image:hover .popular__img {
  transform: scale(1.2);
}

/*=============== map ===============*/
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.map .box {
  max-width: 600px;
}
.box h1 {
  font-size: 3em;
}
.box p {
  font-size: 1em;
  padding-top: 1rem;
}

.map iframe {
  border-radius: 1em;
  opacity: 1;
  transition: transform 0.4s;
  z-index: 1;
}

.map iframe:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*=============== EXPLORE ===============*/
.explore {
  position: relative;
}

.explore__image {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.explore__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.explore__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0, 0%, 0%) 5%, hsla(0, 0%, 0%, 0) 40%, hsla(0, 0%, 0%, 0) 60%, hsl(0, 0%, 0%) 92%);
}

.explore__content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore__data {
  text-align: left;
  margin-top: 7rem;
  margin-left: -3rem;
}

.exsection__title {
  font-size: 7rem;
}
.explore__description {
  text-align: left;
  margin-top: 1rem;
}

.explore__user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.explore__name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*=============== JOIN ===============*/
.join__container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
}
.row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);

  border-radius: 0.5rem;
}

.row .image {
  flex: 0.5 0.5 40rem;
}

.row .image img {
  width: 100%;
}

.row form .box {
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: var(--container-color);
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.row form textarea {
  height: 10rem;
  resize: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 2.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.btn:hover {
  background: var(--grey);
}
.join__data {
  text-align: center;
}

.join__description {
  margin-bottom: 1rem;
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.join__input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.join__button {
  cursor: pointer;
}

.join__image {
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.join__img {
  width: 300px;
  transition: transform 0.4s;
}

.join__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.join__image:hover .join__img {
  transform: scale(1.2);
}
/*=============== FOOTER ===============*/
.footer {
  padding-block: 2rem;
  background-color: var(--container-color);
}

.footer__content {
  row-gap: 2.5rem;
}

.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--second-font);
  margin-bottom: 1rem;
}

.footer__data {
  display: grid;
  justify-content: baseline;
  row-gap: 5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__group,
.footer__social {
  display: flex;
}

.footer__group {
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.5rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color 0.4s, transform 0.4s;
}

.footer__social-link:hover {
  color: var(--title-color);
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--text-color);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 30%);
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-widht: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .footer__data {
    grid-template-columns: max-content;
  }
}
/* For medium devices */

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav__close,
  .nav__toogle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .popular__container {
    grid-template-columns: repeat(3, 240px);
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height)+1.5rem);
  }
  .blur-header::after {
    backdrop-filter: blur(25px);
  }

  .home__container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }

  .home__shadow {
    height: 980px;
  }

  .home__data {
    text-align: initial;
    width: 480px;
  }
  .home__subtitle {
    font-size: var(--h2-font-size);
  }
  .home_description {
    margin-bottom: 2.5rem;
  }
  .home__card {
    grid-template-columns: repeat(2, 260px);
  }
  .home__card-title {
    left: 1.5rem;
    bottom: 1.5rem;
  }
}
